@model IEnumerable<Hack2ProgressAspMvc.Models.DataPoint>
@{
    ViewBag.Title = "Graphica Ultimos 3 Meses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                title: {
                    text: "Energy Last 3 Months"
                },
                axisX: {
                    valueFormatString: "DD MMM"
                },
                axisY: {
                    title: "Kilovatios",
                    prefix: "kW",
                    includeZero: false
                },
                data: [{
                    type: "spline",
                    xValueType: "dateTime",
                    xValueFormatString: "DD MMM",
                    yValueFormatString: "kW#,###",
                    dataPoints: @Html.Raw(ViewBag.DataPoints)
                }]
            });
            chart.render();

        }
    </script>
</head>
<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>   