@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="padding:0%">
    <img src="../../Images/enerbox3.PNG" alt="Italian Trulli" width="100%" height="100%">
  
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h2>Facturación mensual</h2>
        <img src="../../Images/graficaMensual.png" width="70%" height="50%">
        <h2 class="text-black-50 text-center">@Html.ActionLink("Graph", "GraphSpline", "Home", new { area = "" })</h2>
    </div>
    <div class="col-md-4 text-center">
        <h2>Consumo del hogar</h2>
        <img src="../../Images/consumoHogar.png"  width="60%" height="50%">
        <h2 class="text-black-50 text-center">@Html.ActionLink("Consumo", "Index", "Consumo", new { area = "" })</h2>
    </div>
    <div class="col-md-4 text-center">
        <h2>Mapa del hogar</h2>
        <img src="../../Images/mapaHogar.png"  width="80%" height="50%">

        <h2 class="text-black-50 text-center">@Html.ActionLink("Graph", "GraphSpline", "Home", new { area = "" })</h2>
    </div>
</div>