@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="padding:0%">
    <img src="../../Images/enerbox3.PNG" alt="Italian Trulli" width="100%" height="100%">
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Facturación mensual</h2>
        <img src="../../Images/graficaMensual.png" width="70%" height="50%">
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Ver</a></p>
    </div>
    <div class="col-md-4">
        <h2>Consumo del hogar</h2>
        <img src="../../Images/consumoHogar.png"  width="70%" height="50%">
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Ver</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mapa del hogar</h2>
        <img src="../../Images/mapaHogar.png"  width="80%" height="50%">

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Ver</a></p>
    </div>
</div>